/* Propriétés du tableau */
table {
	width:750px;
	margin-left:auto;
	margin-right:auto;
}
#td-participantA, .td-participantA {
	text-align:left;
}
#td-resultat, .td-resultat {
	text-align:center;
}
#td-participantB, .td-participantB {
	text-align:right;
}