/* Propriétés du tableau */
table {
	width:750px;
	margin-left:auto;
	margin-right:auto;
}
#th-rang {
	width:60px;
}
#th-points {
	width:70px;
}
.td-rang, .td-points {
	text-align:center;
}