<h1>Extrait(s) de réglement</h1>

<p>Points attribués :</p>
<ul>
	<li>Match gagné : 3 points</li>
	<li>Match nul : 2 points</li>
	<li>Match perdu : 1 point</li>
	<li>Match perdu par forfait ou pénalité : 0 point</li>
</ul>

<p>En cas d’égalité entre deux ou plusieurs clubs à l’issue d’une compétition dans une même poule et en l’absence de réglementation particulière à la compétition, ceux-ci sont départagés selon les procédures suivantes (dans l’ordre) :</p>
<ul>
	<li>Par le nombre de points à l’issue de la compétition dans les rencontres ayant opposé les équipes à égalité entre elles</li>
	<li>Par la différence entre les buts marqués et les buts encaissés dans les rencontres ayant opposé les équipes restant à égalité après application de l’alinéa 1</li>
	<li>Par le plus grand nombre de but marqués à l’extérieur dans les rencontres ayant opposé les équipes restant à égalité après application de l’alinéa 2</li>
	<li>Par la plus grande différence de but sur l’ensemble des rencontres de la compétition</li>
	<li>Par le plus grand nombre de buts marqués sur l’ensemble des rencontres de la compétition</li>
	<li>Par le plus grand nombre de licenciés(es) compétitifs(ives) à la date de l’assemblée générale fédérale, masculins ou féminins dans la catégorie d’âge concernée</li>
</ul>

<p><i>Source : <a href="http://www.ff-handball.org/">http://www.ff-handball.org/</a></i></p>