/* Propriétés du tableau */
table {
	width:750px;
	margin-left:auto;
	margin-right:auto;
}
#td-participantA, .td-participantA {
	text-align:left;
	width:50%;
}
#td-participantB, .td-participantB {
	text-align:right;
	width:50%;
}