/* Messages */
.message {
	font-weight:bold;
	min-height:25px;
	padding:5px;
	padding-top:10px;
	padding-left:45px;
	background-position:5px 5px;
	background-repeat:no-repeat;
}
.m_information {
	background-color:#B3D6F7;
	background-image:url(../media/farm/32x32/information.png);
}
.m_error {
	color:#FFFFFF;
	background-color:#F3754B;
	background-image:url(../media/farm/32x32/error.png);
}
.m_construct {
	color:#FFFFFF;
	background-color:#F9C03B;
	background-image:url(../media/farm/32x32/construction.png);
}
.m_success {
	color:#FFFFFF;
	background-color:#97DB43;
	background-image:url(../media/farm/32x32/tick.png);
}