/* Titres */
.title {
	background-repeat:no-repeat;
	background-position: left center;
	padding-left:40px;
	height:30px;
	padding-top:8px;
}
.t_contact { background-image:url('../media/farm/32x32/email.png'); }
.t_forum { background-image:url('../media/farm/32x32/comments.png'); }
.t_actualites { background-image:url('../media/farm/32x32/newspaper.png'); }
.t_documentation { background-image:url('../media/farm/32x32/book_open.png'); }
.t_telecharger { background-image:url('../media/farm/32x32/ftp.png'); }
.t_livre_or { background-image:url('../media/farm/32x32/book_edit.png'); }
.t_support { background-image:url('../media/farm/32x32/support.png'); }
.t_rejoindre_equipe { background-image:url('../media/farm/32x32/group.png'); }
.t_signaler_erreurs { background-image:url('../media/farm/32x32/error.png'); }
.t_proposer_ameliorations { background-image:url('../media/farm/32x32/update.png'); }
.t_promouvoir_projet { background-image:url('../media/farm/32x32/events.png'); }
.t_effectuer_don { background-image:url('../media/farm/32x32/money.png'); }
.t_credits { background-image:url('../media/farm/32x32/rosette.png'); }
.t_connexion { background-image:url('../media/farm/32x32/user_go.png'); }