<h1>Extrait(s) de réglement</h1>

<p>En cas d’égalité de victoires en poule entre combattants en fin de rencontre : entre 2
combattants, le vainqueur est celui qui a remporté le combat ayant opposé les deux
combattants ; entre 3 combattants, le vainqueur est celui totalisant le plus de victoires par « Full
Ippon » et en cas d’égalité absolue (victoires et « Full Ippon »), les combattants sont départagés
par le nombre de points.</p>

<p><i>Source : <a href="http://www.ffjudo.com">http://www.ffjudo.com</a></i></p>