<h1>Extrait(s) de réglement</h1>

<p>Le classement des poules est établi de la manière suivante :</p>
<ul>
	<li>Les joueurs sont d’abord classés selon le résultat d’ensemble de leurs matches, selon le barème suivant :
		<ul>
			<li>Victoire : +1 point</li>
			<li>Défaite : 0 point</li>
			<li>Forfait : -1 point</li>
		</ul>
	</li>
	<li>En cas d’égalité entre 2 joueurs, leur classement est déterminé par le résultat du match direct entre eux</li>
	<li>En cas d’égalité entre 3 joueurs et plus, on les départage au bénéfice de la meilleure différence entre le nombre de sets gagnés et perdus</li>
	<li>S’il en résulte une égalité entre 2 joueurs, on se ramène au cas b)</li>
	<li>Si l’égalité persiste entre 3 joueurs et plus, on les départage au bénéfice des points gagnés et perdus</li>
	<li>En dernier ressort, les joueurs à égalité sont départagés au bénéfice de l’âge (l’avantage étant accordé au plus jeune, sauf dans la catégorie des Vétérans)</li>
</ul>

<p><i>Source : <a href="http://www.ffbad.org">http://www.ffbad.org</a></i></p>