/* Propriétés générales */
body {
	background-color: #EEEEEE;
	font-family: arial,helvetica,sans-serif;
	font-size:1em;
}

/* Page */
body > div {
	background-color: #D3E4F7;
	margin-left:auto;
	margin-right:auto;
}

/* Titres */
h1 {
	font-size: 1.6em;
	display:block;
	background-color: #669EB7;
	color: #FFFFFF;
	padding: 8px;
}
h2 {
	font-size: 1.4em;
	background-color: #9CCA30;
	color: #FFFFFF;
	padding: 6px;
}

/* Tableaux */
.table > .title {
	display:none;
}
table {
	width:100%;
	border:1px solid black;
	border-collapse:collapse;
}
th {
	background-color:#CCCCCC;
}
td, th {
	border:1px solid black;
	padding:3px;
}

/* Listes */
li p {
	margin:0px;
}

/* Images */
img {
    max-width:800px;
    width:auto;
    height:auto;
}

/* Spécificités DocBook */
.guibutton {
	background-color:#CCCCCC;
	padding:2px;
	display:inline-block;
	border:1px solid #AAAAAA;
	margin:1px;
}
.programlisting, .example-contents {
	padding:5px;
	background-color:#FFFFFF;
	border:1px dashed #AAAAAA;
}
.command {
	color:#FFFFFF;
	background-color:#000000;
	padding-left:5px;
	padding-right:5px;
}
.chapter .toc {
	display:none;
}