/* Propriétés générales */
body {
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	min-width:768px;
	background-color:#EEEEEE;
}

/* Page */
#page {
	width:768px;
	margin-left:auto;
	margin-right:auto;
}

/* Header */
#header h1 {
	margin-top:0px;
	margin-bottom:0px;
}
#bar {
	overflow:hidden;
}
#bar div {
	float: left;
	height: 20px;
	width: 10%;
}
#colorA { background-color: #A6D513; }
#colorB { background-color: #FF270E; }
#colorC { background-color: #73C8AB; }
#colorD { background-color: #D279BB; }
#colorE { background-color: #FFBE18; }
#colorF { background-color: #689EBA; }
#colorG { background-color: #FFFF1B; }
#colorH { background-color: #66C6DE; }
#colorI { background-color: #FD6768; }
#colorJ { background-color: #98AED3; }

/* Menu */
#menu {
	list-style:none;
	overflow:hidden;
	background-color:#D3E4F7;
	margin:0px;
	margin-bottom:10px;
	padding:0px;
}
#menu li {
	float:left;
	margin-right:10px;
}
#menu li a {
	background-color:#BDD6F3;
	text-decoration:none;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	display:block;
}
#menu li a:hover {
	background-color:#A2C5EE;
}

/* Blocs */
.bloc {
	background-color: #D3E4F7;
	color: #000000;
	padding: 8px;
	margin-bottom: 8px;
	font-size:0.9em;
}

/* Footer */
#footer {
	padding:20px;
	font-style: italic;
	font-size: 9px;
	text-align: center;
}

/* Liens */
a { color: #000000; }
a:hover { text-decoration: none; }

/* Boutons */
.buttons-categories, .buttons-poules {
	text-align: center;
	margin-bottom: 10px;
}
.buttons-categories a, .buttons-poules a {
	background-color: #6085B0;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 1.2em;
	padding: 12px;
	margin:5px;
	display: inline-block;
	text-decoration: none;
}
.buttons-categories a:hover, .buttons-categories a.selected, .buttons-poules a:hover, .buttons-poules a.selected {
	background-color:#9FB5CF;
}

/* Titres */
h1 {
	background-color: #6085B0;
	color: #FFFFFF;
	font-weight:bold;
	font-size: 1.4em;
	padding: 12px;
	margin-bottom: 10px;
}
h1 a {
	color: #FFFFFF;
}
h2 {
	background-color: #669EB7;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.2em;
	padding: 8px;
	margin-bottom: 8px;
}
h3 {
	background-color: #9CCA30;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.1em;
	padding: 6px;
	margin-bottom: 8px;
}

/* Listes */
ul {
	margin:0px;
	margin-top:4px;
	margin-bottom:4px;
}

/* Tableaux */
table {
	border-collapse:collapse;
}
th {
	text-align:center;
	padding-bottom:10px;
}
td {	
	padding:0px;
}
td.equipePhasesEliminatoires, td.matchPhasesEliminatoires {
	background-color:#BDD6F3;
}
td.equipePhasesEliminatoires, td.matchPhasesEliminatoires, td.videPhasesEliminatoires {
	padding:4px;
	height:35px;
	vertical-align:middle;
	font-size:0.9em;
}