<h1>Extrait(s) de réglement</h1>

<p>A la fin des matches de la phase préliminaire, le classement des équipes est établi en fonction des points terrain auxquels sont ajoutés, le cas échéant, les points de bonus et retranchés, s'il y a lieu, les points de pénalisation.</p>

<p>Il est attribue a chaque equipe, a l'issue d'un match de championnat, le nombre de points, dits points "terrain" suivants :</p>
<ul>
	<li>4 points pour match gagne</li>
	<li>2 points pour match nul</li>
	<li>0 point pour match perdu</li>
	<li>-2 points pour chaque match perdu par disqualification ou par forfait (ou pour toute autre raison administrative ou disciplinaire), et dans ce cas 5 points pour le club adverse</li>
</ul>

<p>Des points de bonus sont attribues en phase preliminaire du Championnat de France de 1ere et 2eme division selon les principes suivants :</p>
<ul>
	<li>1 point de bonus pour une equipe ayant marque au moins 3 essais de plus que son adversaire lors d.une meme rencontre</li>
	<li>1 point de bonus pour une equipe ayant perdu par un ecart de 7 points ou moins</li>
</ul>
<p>Les points de bonus attribues s'ajoutent aux points terrain obtenus par l'equipe concernee.</p>

<p>Si deux ou plusieurs équipes se trouvent à égalité à l'issue de la phase préliminaire, leur classement sera établi en tenant compte des facteurs ci-après. Chaque facteur n'est à prendre en compte que si celui qui le précède n'a pas permis de départager les équipes concernées et d'établir ce classement.</p>
<ul>
	<li>Nombre de points terrain obtenus sur l'ensemble des rencontres ayant opposé entre elles les équipes concernées (y compris le cas échéant points de bonus et points de pénalisation)</li>
	<li>Goal-average sur l'ensemble des rencontres ayant opposé entre elles les équipes restant concernées</li>
	<li>Plus grande différence entre le nombre d'essais marqués et concédés sur l'ensemble des rencontres ayant opposé entre elles les équipes restant concernées</li>
	<li>Goal-average sur l'ensemble des rencontres de la compétition</li>
	<li>Plus grande différence entre le nombre d'essais marqués et concédés dans toutes les rencontres de la compétition</li>
	<li>Plus grand nombre de points marqués dans toutes les rencontres de la compétition</li>
	<li>Plus grand nombre d'essais marqués dans toutes les rencontres de la compétition</li>
	<li>Nombre de forfaits n'ayant pas entraîné de forfait général de la compétition</li>
</ul>

<p><i>Source : <a href="http://www.lnr.fr">http://www.lnr.fr</a></i></p>