<h1>Extrait(s) de réglement</h1>

<p>Le classement d’une poule est obtenu par l’attribution de :</p>

<ul>
	<li>2 points par partie gagnée, incluant les wo</li>
	<li>1 point par partie jouée et perdue</li>
	<li>0 point en cas de défaite par wo</li>
</ul>

<p>En cas d’égalité de points entre deux ou plusieurs joueurs, leur classement est établi, en tenant compte pour toutes les parties de la poule :</p>

<ul>
	<li>De la différence des nombres de manches gagnées et perdues par chacun d’eux</li>
	<li>Puis, en cas de nouvelle égalité, de la différence des nombres de jeux gagnés et perdus par chacun d’eux</li>
	<li>Enfin, en cas de nouvelle égalité, par l’application successive des deux méthodes ci-dessus aux seuls résultats des parties ayant opposé les joueurs à départager, avant un éventuel recours au tirage au sort</li>
</ul>

<p><i>Source : <a href="http://www.fft.fr">http://www.fft.fr</a></i></p>