<h1>Extrait(s) de réglement</h1>

<p>Il est attribué à chaque équipe de club 3 points pour une victoire, 2 points pour un match nul, 1 point pour une défaite et 0 point pour un forfait.</p>

<h2>Critères de classement général des équipes</h2>

<ol>
	<li>Total des points marqués</li>
	<li>Goal-average particulier</li>
	<li>Goal-average général</li>
	<li>Le total de points de rencontres le plus élevé</li>
	<li>Le nombre total de victoires</li>
</ol>

<p><i>Source : <a href="http://www.championnatsdesclubs-ffpjp.fr">http://www.championnatsdesclubs-ffpjp.fr</a></i></p>