/* Propriétés générales */
body {
	background-color:#EEEEEE;
	padding-bottom:20px;
}
* {
	font-size:20px;
}

/* Titres */
h1 { font-size:1.5em; }
h2 { font-size:1.3em; }
h3 { font-size:1.2em; }
h4 { font-size:1.1em; }

/* Propriétés des tableaux */
table, tr, td, th {
	 border:1px solid #AAAAAA;
	 border-collapse:collapse;
}
td, th {
	padding:2px;
}
th {
	background-color:#CCCCCC;
}
td {
	background-color:#FFFFFF;
}

/* Titres */
h1, h2, h3, h4 {
	text-align:center;
}

/* Messages */
.erreur {
	color:red;
}
.information {
	color:blue;
}

/* Statuts d'équipe */
.statut-absente { color:red; }
.statut-presente { color:orange; }
.statut-homologuee { color:green; }
.statut-forfait { color:black; }
.statut-disqualifiee { color:red; }

/* Résultats de match */
.resultat-attente { color:grey; }
.resultat-victoire { color:green; }
.resultat-egalite { color:orange; }
.resultat-defaite { color:red; }
.resultat-forfait { color:black; }