/* Cellules du tableau des phases éliminatoires */
td.equipePhasesEliminatoires, td.matchPhasesEliminatoires {
	background-color:#BDD6F3;
}
td.equipePhasesEliminatoires, td.matchPhasesEliminatoires, td.videPhasesEliminatoires {
	padding:4px;
	height:35px;
	vertical-align:middle;
	font-size:0.9em;
}