# Activer l'URL rewriting
RewriteEngine On

# Rediriger l'ancienne adresse de téléchargement
RedirectMatch permanent telecharger.php http://www.elfangels.fr/contestorg/telecharger/index/

# Rediriger vers le dossier public
RewriteCond %{REQUEST_URI} !^/Projets/ContestOrg/public.*$
RewriteRule ^(.*)$ public/$1 [NC,L]
