<h1>Extrait(s) de réglement</h1>

<p>Classement par poule :</p>

<ul>
	<li>2 points par match gagné</li>
	<li>1 point par match perdu</li>
	<li>0 point par forfait</li>
</ul>

<p>En cas d’égalité au classement, les équipes sont départagées par le quotient du
nombre de sets gagnés par le nombre de sets perdus. En cas de nouvelle égalité, le
quotient du nombre de points gagnés par le nombre de points perdus sera utilisé.</p>

<p><i>Source : <a href="http://www.ffvb.org">http://www.ffvb.org</a></i></p>