<h1>Extrait(s) de réglement</h1>

<p>Les points attribués en formule « poule » pour le résultat d’un match sont :</p>
<ul>
	<li>Match gagné : 2 points</li>
	<li>Match perdu : 1 points</li>
	<li>Forfait : 0 points</li>
</ul>

<p>En cas d’égalité à la fin des matches de poule, utiliser successivement les critères ci-après :</p>
<ul>
	<li>Prendre le résultat du ou des matches les ayant opposé pour faire la différence entre les points marqués et les points concédés</li>
	<li>Si une égalité persiste, donner la victoire à l’équipe qui, sur le ou les matches les ayant opposés, a reçu le moins de points de pénalité</li>
	<li>Si une égalité persiste, prendre le goal-average général de l’ensemble des matches de la poule</li>
	<li>Si une égalité persiste, donner la victoire à l’équipe qui, sur l’ensemble des matches de la poule, a reçu le moins de points de pénalité</li>
	<li>Si une égalité persiste, la victoire sera donnée à l’équipe dont la moyenne d’âge est la plus faible (joueurs inscrits sur la feuille de composition d’équipe)</li>
</ul>

<p><i>Source : <a href="http://unss.org">http://unss.org</a></i></p>