<h1>Extrait(s) de réglement</h1>

<h2>En double</h2>

<h3>Décompte des points</h3>
<p>Dans chaque rencontre, un point est attribué par partie gagnée de simple ou de double. L'addition des points-parties obtenus par chaque équipe dans le ou les groupes détermine le résultat de la rencontre. Le résultat de la rencontre doit tenir compte de l'ordre des parties déterminé sur la feuille de rencontre.</p>
<p>Les points rencontre suivants sont attribués :</p>
<ul>
	<li>Une victoire : 3 points</li>
	<li>Un résultat nul : 2 points</li>
	<li>Une défaite : 1 point</li>
	<li>Une défaite par forfait ou pénalité : 0 point</li>
</ul>

<h3>Classement des équipes dans une poule</h3>
<p>Le classement dans une poule est établi dans l'ordre décroissant du nombre de points-rencontre.</p>
<p>Si deux ou plusieurs équipes sont à égalité de points-rencontre, il est établi un nouveau classement de ces équipes portant sur les rencontres disputées entre elles. Chaque fois qu'une ou plusieurs équipes ne peuvent pas être classées, il convient de recommencer la procédure du départage, décrite ci-après, pour celles restant encore à égalité :</p>
<ul>
	<li>En faisant le total de leurs points-rencontres</li>
	<li>Si l'égalité persiste, en faisant le quotient des points-parties gagnés par les points-parties perdus pour ces mêmes rencontres</li>
	<li>Si l'égalité persiste, en faisant le quotient des manches gagnées par les manches perdues pour ces mêmes rencontres</li>
	<li>Si l'égalité persiste, en faisant le quotient de points-jeu gagnés par les points-jeu perdus pour ces mêmes rencontres</li>
	<li>Si l'égalité persiste, l'avantage est donné à l'équipe dont le joueur figurant sur la feuille de rencontre :
		<ul>
			<li>Est le plus jeune pour les compétitions par équipes seniors et jeunes</li>
			<li>Est le plus âgé pour les compétitions par équipes vétérans</li>
		</ul>
	</li>
	<li>Une équipe battue par forfait ou pénalité sera considérée comme battue par le total des parties prévues pour la rencontre à 0, chaque partie étant comptée comme perdue trois manches à 0, et 11-0 à chaque manche</li>
</ul>

<h2>En simple</h2>

<h3>Classement des joueurs dans une poule</h3>
<ul>
	<li>Le classement dans chaque poule est établi dans l'ordre décroissant du nombre de points acquis après chaque partie. Une victoire attribue 2 points, une défaite attribue 1 point. En cas d’abandon, de refus de jouer ou de disqualification, le joueur marque 0 points</li>
	<li>Lorsque deux participants terminent à égalité de points, ils sont départagés par le résultat de la partie les ayant opposés</li>
	<li>Lorsque plus de deux participants terminent à égalité de points, il est établi un nouveau classement entre les ex-aequo, portant sur les résultats des parties les ayant opposés en faisant le total des points, puis, si nécessaire, le quotient des manches gagnées par les manches perdues et, si l'égalité persiste, le quotient des points gagnés par les points perdus</li>
	<li>Dès que l'un (ou plusieurs) des ex-aequo peut être classé, on reprend la procédure décrite ci-dessus pour les joueurs restant à égalité</li>
	<li>En cas d'égalité persistante, l'avantage est donné au joueur le plus jeune pour les catégories seniors et jeunes et au joueur le plus âgé pour les catégories vétérans</li>
</ul>

<p><i>Source : <a href="http://www.fftt.com">http://www.fftt.com</a></i></p>