<h1>Extrait(s) de réglement</h1>

<p>
	L’équipe gagnante marque 3 Pts.<br/>
	L’équipe perdante marque 1 Pt.<br/>
	Les équipes réalisant un match nul marquent 2 Pts.
</p>

<p>Le classement final sera établi dans l’ordre des critères suivants :</p>
<ul>
	<li>Les points remportés</li>
	<li>En cas d’égalité entre deux équipes :
		<ul>
			<li>Le goal-average particulier (prendre en compte les résultats des matchs aller-retours des équipes concernées)</li>
			<li>Le goal-average général (différence de manches sur la saison)</li>
			<li>Le nombre de matchs gagnés</li>
			<li>Recours ultime en cas d’égalité parfaite : un match de barrage</li>
		</ul>
	</li>
	<li>En cas d’égalité de plus de deux équipes :
		<ul>
			<li>Le goal-average général (différence de manches sur la saison)</li>
			<li>Le nombre de matchs gagnés</li>
			<li>Recours ultime en cas d’égalité parfaite : match de barrage (aller-retour)</li>
			<li>Egalité sur l’ensemble des matchs de barrage, 3 manches de départage sur le match retour</li>
		</ul>
	</li>
</ul>
	
<p><i>Source : <a href="http://www.afebas.org">http://www.afebas.org</a></i></p>